/* XBB - Footer - Multi-Column */
.xbb-footer-multi a {
    text-decoration: none;
}
.xbb-footer-multi a:hover {
    text-decoration: underline;
}
.xbb-footer-multi.xoops-footer-content {
    font-size: 0.8rem;
    color: #888;
}
